
@{
    ViewBag.Title = "UpdatePassword";
}

<h2>修改密码</h2>

<div class="content-body">
    <form class="ui-form" method="post" action="@Url.Action("UpdatePassword")">
        @Html.AntiForgeryToken();
        @Html.Partial("_ResposeMessage")
        <fieldset>
            <div class="ui-form-item">
                <label for="oldPassword" class="ui-label">旧密码</label>
                <input class="ui-input" type="password" id="oldPassword" name="oldPassword" >
            </div>     
            <div class="ui-form-item">
                <label for="newPassword" class="ui-label">新密码</label>
                <input class="ui-input" type="password" id="newPassword" name="newPassword" >
            </div>  
            <div class="ui-form-item">
                <label for="newPasswordConfirmed" class="ui-label">确认新密码</label>
                <input class="ui-input" type="password" id="newPasswordConfirmed" name="newPasswordConfirmed">
            </div>  
            <div class="ui-form-item">
                <input type="submit" class="ui-button ui-button-morange" value="确认修改">
            </div>    
        </fieldset>
    </form>
</div>
